.title-screen-container {
    width: 400px;
    text-align: center;

    padding: 64px;
    border:
            4px
            black
            solid;
    border-radius: 12px;

    background-color: #96dcf8;

    box-shadow:
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
}

.title-screen-mobile__dark-background {
    position: fixed;
    inset: 0;
    background-color: #96dcf8;
}

.title-text {
    font-size: 48px;
    pointer-events: none;
    margin: 0;
}

#title-tour {
    margin-top: 15px;
}

.text-3d {
    text-shadow: 
                -1px -1px 3px #ffffff10,
                1px 1px 0 #eee, 
                2px 2px 0 #eee, 
                3px 3px 0 #eee, 
                4px 4px 0 #eee, 
                5px 5px 0 #eee, 
                6px 6px 0 #eee,
                7px 7px 1px #22222220;
}

#selection-screen {
    min-width: 80%;
    max-width: 750px;
}

#title-screen-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 8px;

    width: 100%;
    height: 400px;
}

.title-screen-box {
    position: relative;
    background-color: var(--ui__dark-blue);
    border-radius: 12px;
    border:
            4px
            black
            solid;

    box-shadow:
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
}

.title-screen-box__inner {
    width: 90%;

    background-color: var(--ui__highlight__dark_blue);
    border-radius: 12px;
    
    box-shadow:
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
}

#title-screen-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#title-screen-rules {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#title-screen-rules__inner {
    position: absolute;
    width: 96%;
    height: 75%;
    left: 2%;
    bottom: 2%;

    padding: 16px;
}

#title-screen-game {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

#selection-box {
    height: 65%;
    width: 90%;
    margin-left: 5%;

    justify-content: space-around;
}

#title-screen-multiplayer {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#title-screen-extras {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.title-screen__select-mode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.title-screen__select-modifier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

/* mobile */
@media (max-width: 768px) {

    .title-screen-container {
        border: none;
        background-color: #00000000;
        box-shadow: none;

        padding: 0;
        margin: 0;
    }

    #selection-box {
        height: 78%;
    }

    #title-tour {
        margin-top: 2px;
    }


    #title-screen-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    #title-screen-game {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #title-screen-multiplayer {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #title-screen-extras {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .title-screen__select-mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}
}