.tile.visiting {
    transform: translateY(-20px);
}

.tile.visiting::after {
    background-color: #66ff6683;
}

.tile.visited {
    transform: translateY(1000px);

    transition:
                transform 2s ease-in;
}



.tile.next-move {
    transform: translateY(-5px);
}

.tile.next-move::after {
    background-color: #66b5ff83;
}

.tile.next-move:hover {
    transform: translateY(-10px);
}

.tile.next-move:hover::after {
    background-color: #8266ff83;
}


.tile.failed {
    transform: translate(calc(var(--movedX) * 1px), calc(var(--movedY) * 1px));

    transition: 
                transform 1s ease-out;
}

.tile.failed::after {
    background-color: #ff323281;
}