

.fixed-container {
    position: fixed;
}
.fixed-container.zero-position.title {
    inset: 0;
    margin: 20px;
    height: 80px;
    width: 300px;
}

.relative-container {
    position: relative;
}

.absolute-container {
    position: absolute;
}

.centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.vertical-flex-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    position: relative;
    width: auto;
    height: auto;
}

.final-screen-container {
    width: 200px;
}

.no-scroll-container {
    overflow: hidden;
}