.game-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    width: 100%;
    min-height: 100vh;
    gap: 16px;
}

/* desktop / tablet */
.left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile */
@media (max-width: 768px) {
    .game-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .left-box {
        width: 100%;
        height: 300px;
    }

    .main-box {
        width: 100%;
    }
}
