.knight {
    position: absolute;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);

    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);

    transition:
        top 0.45s ease,
        left 0.45s ease;

    z-index: 999000;

    pointer-events: none;
}

.knight.face-left {
    transform: rotateY(180deg);
}