/* image layer */
#knight-image {
    position: relative;
    width: 100%;
    height: 100%;

    transform-origin: center bottom;
    transform: rotateY(var(--facing));
    transition:
        transform 0.25s cubic-bezier(.34,1.56,.64,1);
    z-index: 1002;
}

#knight-image.jump {
    animation: knight-jump 0.45s ease;
}


@keyframes knight-jump {
    0% {
        transform: 
                    translateY(0) 
                    scale(1, 1)
                    rotateY(var(--facing));
    }
    40% {
        transform: 
                    translateY(-35px) 
                    scale(0.95, 1.05)
                    rotateY(var(--facing));
    }
    70% {
        transform: 
                    translateY(-45px) 
                    scale(1.05, 0.95)
                    rotateY(var(--facing));
    }
    100% {
        transform: 
                    translateY(0) 
                    scale(1, 1)
                    rotateY(var(--facing));
    }
}

#knight-image.jump-reverse {
    animation: knight-jump-reverse 0.45s ease;
}

@keyframes knight-jump-reverse {
    0% {
        transform:
            translateY(0)
            scale(1.05, 0.95)
            rotateY(var(--facing));
    }
    30% {
        transform:
            translateY(-20px)
            scale(0.95, 1.05)
            rotateY(var(--facing));
    }
    60% {
        transform:
            translateY(-10px)
            scale(1, 1)
            rotateY(var(--facing));
    }
    100% {
        transform:
            translateY(0)
            scale(1, 1)
            rotateY(var(--facing));
    }
}


