.knight::after {
    content: "";
    position: absolute;

    bottom: 0%;
    left: 50%;

    width: 68%;
    height: 18px;

    transform: translateX(-50%);

    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    filter: blur(7px);

    z-index: 999001;

    transition:
        transform 0.35s ease,
        opacity 0.35s ease;
}
