.no-display {
    display: none !important;
}

.hide-in-desktop {
    display: inherit;
}

@media (min-width: 769px) {
    .hide-in-desktop {
        display: none !important;
    }
}

.hide-in-mobile {
    display: inherit;
}

@media (max-width: 768px) {
    .hide-in-mobile {
        display: none !important;
    }
}