.player-info {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    margin: 0;

    font-size: 16px;

    border:
            4px
            black
            solid;
}

.current-turn-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 4px;
}

.current-turn-turn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 4px;
}

.current-turn-timer {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    text-align: center;
    
    width: 100%;
    height: 100%;

    padding: 10px;

    font-size: 40px;
}

#ui-current-turn-container {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

#knight-info {
    background-color: #eee;
    color: #333;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom: none;
}

#knight-info2 {
    background-color: #444;
    color: #ddd;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.only-player {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;

    font-size: 16px !important;

    border-bottom:
                    4px
                    black
                    solid
                    !important;

    width: 100% !important;
}

/* mobile */
@media (max-width: 768px) {
    #ui-current-turn-container {
        flex-direction: row;
    }

    .player-info {
        width: 50%;
        padding: 4px;
        font-size: 12px;
    }

    #knight-info {
        border-bottom:
                        4px
                        black
                        solid;
        border-top-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 0;
    }

    #knight-info2 {
        border-left: none;
        border-top-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 12px;
    }

    .current-turn-timer {
        font-size: 28px;
    }
}