.menu-button {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 10px;

    border-radius: 12px;
    background-color: #ccc;

    border:
                4px
                black
                solid;
    
    box-shadow:
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
    transition:
                background-color 0.20s ease,
                box-shadow 0.25s ease;
}

.menu-button:hover {
    background-color: #bbb;
    box-shadow:
                5px 5px 3px #22222235, 
                -2px -2px 3px #ffffff15;
    
    cursor: pointer;
}

.menu-button:active {
    box-shadow:
                1px 1px 1px #22222210, 
                -1px -1px 3px #ffffff05;
    
    cursor: pointer;
}

.menu-button:disabled {
    box-shadow:
                1px 1px 1px #22222210, 
                -1px -1px 3px #ffffff05;
    cursor: not-allowed;
}

.menu-button::before {
    position: absolute;
    content: "";
    width: calc(100% - 24px);
    height: 100%;
    left: 10px; /* border-radius - (border-width of base / 2) */
    top: 0px;
    margin: 0;

    border-left: 
                2px 
                black 
                solid;
    border-right: 
                2px 
                black 
                solid;
    border-radius: 2px;

    background-color: #33333310;
}

.menu-button::after {
    position: absolute;
    inset: 0;

    content: var(--content);
    color: initial;

    font-family: endless-boss-battle;
    font-size: 20px;
    padding: 15px;

    background-color: #eee;

    border-radius: 12px;

    text-shadow: 
                -1px -1px 3px #ffffff10,
                2px 2px 1px #22222220;

    transform: 
                translateY(-10px);

    transition: 
                transform 0.075s ease,
                background-color 0.1s ease,
                color 0.2s ease;
}

.menu-button:hover::after {
    background-color: #fff;

    text-shadow: 
                -1px -1px 3px #ffffff10,
                2px 2px 1px #22222230;

    transform: 
                translateY(-12px);
}

.menu-button:active::after {
    background-color: #ddd;

    text-shadow: none;

    transform: 
                translateY(-1px);
}

.menu-button:disabled::after {
    background-color: #ccc;
    color: #444;

    text-shadow: none;

    transform: 
                translateY(-1px);
}