.menu-button {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 10px;

    border-radius: 12px;
    background-color: #ccc;

    border:
                4px
                black
                solid;
    
    box-shadow:
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;
}

.menu-button:hover {
    background-color: #bbb;
}

.menu-button::before {
    position: absolute;
    content: "";
    width: calc(100% - 24px);
    height: 100%;
    left: 10px; /* border-radius - (border-width of base / 2) */
    top: 0px;
    margin: 0;

    border-left: 
                2px 
                black 
                solid;
    border-right: 
                2px 
                black 
                solid;
    border-radius: 2px;

    background-color: #33333310;
}

.menu-button::after {
    position: absolute;
    inset: 0;

    content: var(--content);
    font-family: endless-boss-battle;
    font-size: 20px;
    padding: 15px;

    background-color: #eee;

    border-radius: 12px;

    transform: 
                translateY(-10px);

    transition: 
                transform 0.075s ease,
                background-color 0.1s ease;
}

.menu-button:hover::after {
    background-color: #fff;

    transform: 
                translateY(-12px);
}

.menu-button:active::after {
    background-color: #ddd;

    transform: 
                translateY(-1px);
}
