#expand-box {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(52, 193, 236);

    border:
            4px
            black
            solid;

    border-radius: 12px;
    padding: 0;
    margin: 0;
    text-align: center;

    box-shadow: 
                4px 4px 3px #22222220, 
                -1px -1px 3px #ffffff10;

    overflow: hidden;

    transition: 
                all 0.15s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

#expand-box:hover {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: block;
}

#rules-text {
    font-size: large;
}